@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../../public/font/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('../../public/font/Satoshi-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('../../public/font/Satoshi-Black.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }



.about-root-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 11;
    margin-top:1rem;

}
.about-hr{
    border: 1px solid rgb(255, 196, 0);
    width: 84%;

}

.about-parent-div {
    display: flex;
    width: 85%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;

    padding: 0; 
    margin: 0;  
}
.about_header_img{
    width:23rem;
    height:23rem;
}
.about-text-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%; 
}
.img-div-about{
    display:flex;
    background-color:black;
}
.text-span-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.sarto-header{
    text-align:left;
    margin-top:0;
    font-size:2.8rem;
    color:white;
    margin-left:.5rem;
}
.span-text-con{
    display:flex;
    flex-direction:column;
width: 60%;
    height:23rem;
}
.sarto-text {
   
    text-align:left;
    width:95%;
    opacity: .8;
    margin-top:1.5rem;
    margin-left:.5rem;
    margin-bottom: 40px;

}
.sarto-mission-text{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap:1rem; 
}

.sarto-text-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    color: rgb(206, 202, 202);
    font-weight:300;
    line-height: 2;
}

.text-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight:300;
    color: rgb(206, 202, 202);

    line-height: 2;
}


.vision-div {
    display: flex;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    padding: 40px 100px 60px 80px;
    width: 50%;
   
    text-align: left;
    background: rgba(44, 43, 43, 0.2);
    flex-direction: column;
  }
  .mission-div {
    display: flex;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    padding: 40px 100px 60px 80px;
    width: 50%;
    
    text-align: center;
    background: rgba(122, 114, 114, 0.2);
    flex-direction: column;
  }
.mission-div >h2{
    color: white;
    font-size:2.5rem;

}
.mission-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    opacity: 0.5;
}
.mission-vision-div {
    position: relative;
    display: flex;
    width: 80%;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border-radius: 36px;
    border: .1px solid rgb(241, 196, 45);
    
}

.team-title{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    text-align: left;
    margin-left: 1.5rem;
}
.team-span-text{
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.mission-span-text{
    color: white;
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.team-div{
    display: flex;
    width: 85%;
    height: 22rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.profile-img{
    max-width:95%;
    min-height: 10rem;
    margin-bottom: .5rem;
}
.profile-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.founder-img-div{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(15, 15, 15);
    color: white;
    border-radius: 10px;

    width:17rem;
    height: 17rem;
    line-height: 1.5;
    flex-direction:column;
    
        
        border: 2px solid transparent;
        background-image: 
            linear-gradient(to right, gold 30%, transparent 25%), /* Top */
            linear-gradient(to top, gold 30%, transparent 25%), /* Right */
            linear-gradient(to left, gold 30%, transparent 25%), /* Bottom */
            linear-gradient(to bottom, gold 30%, transparent 25%); /* Left */
        background-position: top, right, bottom, left;
        background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
        background-repeat: no-repeat;
    
}
.founder-span-name{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: -0.019px;
    font-weight: 400;
    color: white;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}
.founder-span-text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: -0.019px;
    font-weight: 400;
    color: rgb(177, 173, 173);
    font-size: 1rem;
}
.founder-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    gap: 1rem;
}
h1{
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
  .text-unique-header {
    font-size: 1.4rem;
    font-weight: 600;
    margin:0;
    margin-bottom: .8rem;
    color:white;
}
  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0; 
    background-color: black;
    border: 2px solid rgb(248, 187, 4);
}
  .icon{
    font-size: 1.8rem;
    color: white;
    margin: 0;
}
.unique-h1-div{
    margin-bottom:1.5rem ; 

}
.unique-icon-div {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    border-top-left-radius: 10px;
    flex-direction: column;
    min-height: 17rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border: 2px solid transparent;
    background-image: 
        linear-gradient(to right, gold 25%, transparent 25%), 
        linear-gradient(to top, gold 25%, transparent 25%), 
        linear-gradient(to left, gold 25%, transparent 25%), 
        linear-gradient(to bottom, gold 25%, transparent 25%); 
    background-position: top, right, bottom, left;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

  .unique-subdiv{
    width: 30%;
  }
.unique-text-div{
display: flex; 
justify-content: space-between;
gap: 1rem;
    width: 100%;
}
.subdiv-span-div{
    text-align: center;
    width: 90%;
    line-height:2;
    color: rgb(177, 173, 173);
    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: -0.019px;
    font-weight: 300;
}
.unique-icon-div > div:last-child {
    margin-top: -1rem; 
  }
.unique-subdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    min-height: 13rem;

    letter-spacing: -0.019px;
    width: 33%;
    line-height: 2;
}
.unique-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
}

.commit-text-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    letter-spacing: -0.019px;
    font-weight: 400;
    color: rgb(177, 173, 173);
    font-size: 1.2rem;
    width: 70%;
    line-height: 2;
    text-align: center;
}
.commit-img-div{
    height: 50%;
    width: 30%;
}
.commit-img{
    width:100%;
    height:22rem;
}
.commit-root{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
.commit-title-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    height: auto;
width: 85%;
}
.div-commit{
    width: 55%;
    margin-left: 4rem;
    height: 22rem;
}
.commit-h1-div{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom:1.5rem ; 

    width: 100%;
}
.commit-h1{
    margin-left:6rem;
}
.unique-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-us-text-div{
    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    letter-spacing: -0.019px;
    font-weight: 400;
    color: rgb(177, 173, 173);
    font-size: 1.2rem;
    width: 55%;
    line-height: 2;
    width: 40%;
    margin-bottom: 1rem;
    text-align: center;    
}
.join-us-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
width: 89%; 
}
.follow-div{
    display:flex;
    gap:1rem;
    align-items: center;
    flex-direction: column;
}
.icon-div{
    display:flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
.social-span-div{
    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    letter-spacing: -0.019px;
    font-weight: 400;
    color: rgb(177, 173, 173);
    font-size: 1.2rem;
    width: 55%;
    line-height: 2;
}
.social-divs{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-color: rgb(17, 16, 16);
}
.social-icon{
    font-size: 1.2rem;
    color: rgb(216, 212, 212);
}
.social-span-div{
    width: 75%;
}
.socials-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:2rem;
    width:40%;
    padding-bottom:15px;
    padding-top:15px;
    border:1px solid gold;
    border-radius:10px;
}
.social-icon-div{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1040px) {
    .about-parent-div{
        height: auto;
        width: 75%;

    }
   
    .about_header_img{
        height: 100%;
        width: 100%;
    }
   
    .img-div-about{
        width: 100%;
    }
   
    .span-text-con{
        height: 100%;
    }
    .text-span-container{
        height: 100%;
    }
    .about-text-div{
        height: 100%;
    }
    .about-parent-div{
        height: auto;
    }
    .img-div-about{
        height: 100%;
    }
    .about-text-div{
        height: 100%;
        width: 75%;

        gap: 1rem;
    }
    .text-span-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }
    .about_header_img{
        height: 100%;
    }
    .sarto-text-desc{
        font-size: 1.4rem;
    }
    .sarto-text{
        width: 100%;
        height: 100%;
    }
    .span-text-con{
        height: 100%;
        width: 100%;
        
    }
    .about_header_img{
        height: 100%;
        width: 100%;
    }
   
    .img-div-about{
        width: 98%;
    }
    .mission-vision-div{
        width: 85%;
        height: auto;
    }
    .team-title{
        width: 80%;
    }
    .founder-img-div{
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .founder-span-name{
        font-size: 1.4rem;
    }
    .founder-span-text{
        font-size: 1.3rem;
    }
    .team-title{
        width: 26%;
    }
    .founder-div{
        width: 90%;
    }
    
    .team-div{
        width: 95%;
    }
    .unique-h1-div{
        margin-bottom: 2rem;
    }
    .unique-icon-div{
        min-height: 20rem;
    }
    .unique-title-div{
        width:95%;
        height: auto;
    }
    .text-desc{
        font-size: 1.3rem;
    }

}
@media screen and (max-width:900px) {
   
    .text-span-container{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column; }
        .sarto-text{
            width:100%;
            height: auto;
            margin-bottom: 2rem;
            margin-top:1rem;
            text-align:center;
        }
        .sarto-mission-text{
            display:flex;
            align-items: center;
            width:100%;
            flex-direction: column;
            line-height: 2.5;
            height: 100%;
            padding-left: 8px;
            padding-right: 8px;
        }
        .span-text-con{
            display:flex;
            justify-content:center;
            align-items:center;
            height: auto;            
            width:100%;
        }
        .about-text-div{
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .text-span-container{
            display:flex;
            justify-content:center;
            align-items:center;
            width:90%;
            height: auto;
        }
        
        .about-parent-div {
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;           
             width:95%;
        }
        .about_header_img{
            width:90%;
            margin-top:1rem;
            margin-bottom:1rem;
    border-radius:10px;
    height:17rem;
        }
        .img-div-about{
            display:flex;
            justify-content:center;
            align-items:center;
            width:90%;
            height:50%;

        }
       
    .mission-vision-div{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width:70%;
        gap:2rem;
        height: 45rem;
        border:1px solid black;
    }
    .sarto-text-desc{
        color:rgb(196, 194, 194);
        line-height:2.3rem;
        font-size:25px;
        font-weight: 500;

    }
    .text-desc{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        opacity: .8;
        font-size:23px;
    }
    .mission-div{
        display:flex;
        flex-direction:column;
        text-align:center;
        border:1px solid gold;
        width:85%;
        overflow-y: hidden;

        line-height: 1.5rem;
        height:49%;
        border-radius:36px;
        padding: 10px;

    }
    .vision-div{
        display:flex;
        flex-direction:column;
        text-align:center;
        border:1px solid gold;
        width:85%;
        overflow-y: hidden;

        line-height: 1.5rem;
        height:49%;
        border-radius:36px;
        padding: 10px;
    }
    .team-title{
height:auto;
        margin-bottom:2rem;
    }
    .team-div{
        display:flex;
        justify-content:center;
        align-items:center;
        height:auto;
        width: 85%;
        flex-direction:column; 
    }
.founder-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column; 
}
.unique-h1-div{
    margin-bottom:1.5rem;
}
.unique-text-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;  
}
.unique-subdiv{
    width:85%;
    margin-bottom: 1rem;
}
.unique-icon-div{
    border-radius:30px;
    border:1px solid gold;
    background-image: none;
    width:80%;
    min-height: 18rem;
}
.unique-title-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:auto;
    height:auto;  
}
.commit-text-div{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.commit-h1{
    margin-left:0;
}
.commit-h1-div{
    width:100%;
}
.div-commit{
    margin-left:0;
    width:100% ;
    height:auto;
}
.commit-img{
    width:90%;
    border-radius:10px;
    height:17rem;
}
.commit-img-div{
    display:flex;
    justify-content:center;
    align-items:center;
    width:90%;
    margin-top:1rem;
    margin-bottom:1rem;
}
.commit-root{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:auto;
    flex-direction:column;
}
.commit-title-div{
   
    height:auto;
}
.join-us-text-div{
    margin-top: 1rem;
    width:90%;
}
h1{
    font-size: 2.2rem;
}

.social-icon-div{
    width:100%;
    margin-top:1.5rem;
    margin-left:0;
}
.follow-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.social-span-div{
    width:60%;
    text-align:center;
}
.socials-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:2rem;
    width:85%;
    padding-bottom:15px;
    padding-top:15px;
    border:1px solid gray;
    border-radius:10px;
}
}
@media screen and (max-width:899px) {
    .founder-img-div{
        margin-bottom: 1.5rem;

    }
    .founder-div{
        width: 70%;
    }
    .team-title{
        width: 100%;
    }
    .team-div{
        width: 70%;
    }
}
@media screen and (max-width:781px) {
    .mission-vision-div{
        width: 78%;
        height: auto;
    }
    .img-div-about{
        width:100%;
        height: 100%;
    }
    .about-text-div{
        height: auto;
        width: 95%;

        gap: 1rem;
    }
    
}

@media screen and (max-width:600px) {
    
    .mission-vision-div{
        width: 85%;
        height: auto;
    }
    .about-text-div{
        height: 100%;
        width: 95%;

        gap: 1rem;
    }
.team-div{
    width: 80%;
}
}

@media screen and (max-width:490px) {
    .about-parent-div{
        height: auto;
    }
    .img-div-about{
        height: 100%;
    }
    .about-text-div{
        height: auto;
        gap: 1rem;
        width: 100%;
    }
    .text-span-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }
    .sarto-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .span-text-con{
        height: 100%;
        width: 98%;
    }
    .about_header_img{
        height: 100%;
        width: 100%;
    }
   
    .img-div-about{
        width: 98%;
    }
    .unique-icon-div{
        width: 92%;
    }
    .unique-subdiv{
        width: 98%;
    }
    .unique-text-div{
        width: 95%;
    }
    
    .sarto-mission-text{
        height: auto;
        gap: 0;
    }
    
    .mission-div{
        display:flex;
        flex-direction:column;
        text-align:center;
        border:1px solid gold;
        width:98%;
        line-height: 1.5rem;
        overflow-y: hidden;

        border-radius:36px;

    }
    .sarto-text-desc{
        font-size: 1.4rem;
    }
    
    .vision-div{
        display:flex;
        flex-direction:column;
        text-align:center;
        border:1px solid gold;
        width:98%;
        overflow-y: hidden;
        line-height: 1.5rem;
        border-radius:36px;
    }
    .sarto-mission-text{
        width: 100%;
    }
    .mission-vision-div{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width:85%;
        gap:2rem;
        border:1px solid black;
    }
    .founder-span-name{
        font-size: 23px;
    }
    .profile-img-div{
        margin-bottom: .5rem;
    }
    .profile-img{
        width: 20rem;
        border-radius: 10px;
        margin-bottom: 0;
        height: 17rem;
    }
    .founder-div{
        width: 95%;
    }
    .founder-img-div{
        width: 85%;
        height: 25rem;
    }
    .team-title{
        width: 90%;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .team-div{
        width: 90%;
    }
    .text-desc{
        font-size: 1.3rem;
    }
    h1{
        font-size: 27px;
        font-weight: bold;
    }
}
@media screen and (max-width:350px) {
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        font-weight: bolder;
    }
    .text-unique-header{
        font-size: 1.3rem;
    }
    .vision-div{
        height: auto;
    }
    .mission-div{
        height: auto;
    }
   
    .sarto-mission-text{
        display: flex;
        gap: 0;
        width: 100%;
        height:auto;
    }

    .mission-vision-div{
        
        width:85%;
        gap:2rem;
        height: 55rem;
        border:1px solid black;
    }
}